.hero-grid {
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    border: 1px solid #e7e7e7;
}

.hero-grid:hover {
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
}

.casaL {
    width: 50px;
    margin-left: 40%;
    margin-right: 40%;
}

.imgHeroe2 {
    width: 150px
}