<div class="fast fadeIn animated card shadow-sm p-3 mb-5 rounded border col-12" [ngClass]="{'border-primary': PadreHero.casa == 'DC', 'border-danger': PadreHero.casa == 'Marvel'}">
    <h6 class="inline-block">ID: {{PadreHero._id}} </h6>
    <div class="hero-grid">
        <div class="hero-image">
            <img src="{{PadreHero.img}}" class="card-img-top imgHeroe" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">{{PadreHero.nombre}}</h5>
            <p class="card-text font-weight-bold">{{PadreHero.casa}}</p>
            <p class="card-text">{{PadreHero.bio.substring(0,90)}} ...</p>
            <p><small>{{PadreHero.aparicion}}</small></p>
            <p><small>{{PadreHero.estado}}</small></p>
        </div>
        <div class="text-center mb-1">
            <button class="btn btn-outline-danger m-1" data-toggle="modal" data-target="#btnDanger" type="button" (click)="obtenerId(PadreHero._id)"><i class="fas fa-trash"></i></button>
            <button class="btn btn-outline-warning m-1" data-toggle="modal" data-target="#btnWarning" type="button" (click)="obtenerId(PadreHero._id)"><i class="fas fa-user-edit"></i></button>
        </div>
        <button (click)="Navegar()" class="btn btn-block" [ngClass]="{' btn-outline-primary': PadreHero.casa == 'DC', ' btn-outline-danger': PadreHero.casa == 'Marvel'}">      Ver  más...
            </button>
        <br>
    </div>
</div>