<!--HEROS COMPONENT ES PADRE DE BUSCADOR-CARDS COMPONENT-->
<div class="animated fadeIn">
    <br>
    <h4 class="display-5 pb-2  text-center">
        Resultados para <small> {{strBusqueda}}</small>
    </h4>

    <!-- *ngIf = Funciona en torno de un valor booleano -->
    <div *ngIf="Resultados.length === 0" class="alert alert-info animated fadeIn" role="alert">
        No se encuentran resultados para el termino "<b>{{strBusqueda}}</b>"
    </div>
    <!--
        IF
    si      no
    true    Else(false)
    -->

    <div class="card-columns m-5" *ngIf="Resultados.length > 0">
        <!-- La declaracion let i = index contabiliaza cada emision del ngFor-->
        <app-hero-card [PadreHero]="Hero" [Index]="i" [Index]="Hero.index" *ngFor="let Hero of Resultados; let i = index"> </app-hero-card>
    </div>
</div>